---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const ratings = await getCollection("Ratings");

  return ratings.map((rating) => ({
    params: { id: rating.id },
    props: { rating: rating.data },
  }));
}
const { rating } = Astro.props;
---

<Layout title={rating.id}>
  <div class="container mx-auto p-4 text-white">
    <h1>{rating.rating}</h1>
    <p>{rating.id}</p>
    <h1>{rating.viewerId}</h1>
    <p>{rating.movieId}</p>
  </div>
</Layout>
