---
import Layout from "../layouts/Layout.astro";
import MovieStepper from "@components/MovieStepper.tsx";
import { Image } from "astro:assets";
import { actions } from "astro:actions";
import placeholder from "../assets/placeholdermovie.png";

const auth = Astro.locals.auth();
const { data: user } = await Astro.callAction(actions.auth.getUser, {
  clerkId: auth?.userId ?? "",
});
const isAdmin = user?.viewer?.isAdmin ?? false;

const getMovies = await Astro.callAction(actions.movies.getAllMovies, {
  sort: "TITLE_ASC",
});

const { data: movies, error } = getMovies;
if (error || !movies) {
  console.error("Error fetching movies:", error);
}

const moviesWithOmdb = await Promise.all(
  (movies ?? []).map(async (movie) => {
    const getOMDBFilm = await Astro.callAction(actions.omdb.getOmdbFilm, {
      title: String(movie.title ?? ""),
    });
    const { data: omdbData, error: omdbError } = getOMDBFilm;
    if (omdbError || !omdbData) {
      console.error("Error fetching OMDB film:", omdbError);
    }
    return {
      id: Number(movie.id),
      title: String(movie.title),
      date: String(movie.date),
      poster: omdbData?.data?.Poster || placeholder,
    };
  })
);
---

<Layout title="Movies">
  <div
    class="container mx-auto p-6 bg-gray-900 text-white rounded-lg shadow-xl"
  >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
    >
      {auth && user?.viewer?.isAdmin && <MovieStepper client:load />}
      {
        moviesWithOmdb.map((movie) => (
          <div class="bg-gray-800 rounded-lg overflow-hidden shadow-md hover:shadow-2xl transform hover:scale-105 transition-transform duration-300">
            <a href={`/movies/${movie.id}`} class="block">
              <Image
                src={movie.poster}
                alt={movie.title}
                height={288}
                width={192}
                class="w-full h-64 object-cover"
                transition:name={`poster-${movie.id}`}
              />
              <div class="p-4">
                <h2 class="text-xl font-semibold mb-2">{movie.title}</h2>
                <p class="text-gray-400">
                  Date:{" "}
                  {movie.date
                    ? new Date(movie.date.toString()).toLocaleDateString()
                    : "No date"}
                </p>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
