---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const movies = await getCollection("Movies");
const movie = movies.find((m) => m.id === Astro.params.id);

if (!movie) return Astro.redirect("/404");
---

<Layout title={movie.data.title}>
  <div class="container mx-auto p-4 text-white">
    <h1 class="text-4xl font-bold mb-4">{movie.data.title}</h1>
    <p class="text-lg mb-2">Average: {movie.data.average}</p>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-gray-800 rounded-lg table-fixed">
        <thead>
          <tr class="bg-gray-700 text-left text-gray-300">
            <th class="py-2 px-4 border-b border-gray-600 w-1/4">Viewer</th>
            <th class="py-2 px-4 border-b border-gray-600 w-3/4">Rating</th>
          </tr>
        </thead>
        <tbody>
          {
            movie.data.ratings.map((rating) => (
              <tr class="hover:bg-gray-700">
                <td class="py-2 px-4 border-b border-gray-600 hover:bg-gray-600">
                  <a
                    href={`/viewers/${rating.viewerId}`}
                    class="block text-sm underline h-full w-full"
                  >
                    {rating.viewerName}
                  </a>
                </td>
                <td class="py-2 px-4 border-b border-gray-600 hover:bg-gray-600">
                  <a
                    href={`/viewers/${rating.viewerId}/ratings/${rating.id}`}
                    class="block text-lg font-bold underline h-full w-full"
                  >
                    {rating.rating}
                  </a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>
</Layout>
