---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const auth = Astro.locals.auth();

const viewers = await getCollection("Viewers");
const availableRoute = viewers.find((v) => v.id === Astro.params.id);

if (!availableRoute) return Astro.redirect("/404");

const viewer = availableRoute.data;

const isViewer = auth && auth.userId === viewer.clerkId;
---

<Layout title={viewer.name}>
  <div
    class="container mx-auto p-6 text-white bg-gray-900 rounded-lg shadow-lg"
  >
    <h1 class="text-4xl font-bold mb-4">
      {isViewer && <span class="text-green-500">👁️</span>}
      {viewer.name}
    </h1>

    {
      isViewer && (
        <a href={`/viewers/${viewer.id}/edit`} class="text-blue-500 underline">
          Edit Profile
        </a>
      )
    }

    <h2 class="text-2xl font-semibold mb-4">Movies Watched</h2>
    <ul class="list-disc list-inside space-y-4">
      {
        viewer.ratings.map((rating) => (
          <div class="p-4 bg-slate-800 rounded-lg hover:bg-slate-700 transition-colors duration-300">
            <div class="flex justify-between items-center">
              <a href={`/movies/${rating.movieId}`} class="underline text-lg">
                {rating.movieTitle}
              </a>
              <a
                href={`/viewers/${viewer.id}/ratings/${rating.id}`}
                class="underline text-sm text-gray-400"
              >
                Rating: {rating.score}
              </a>
            </div>
          </div>
        ))
      }
    </ul>
  </div>
</Layout>
